<section id="about">
  <div class="container">
    <h2 class="about-title">Чому Хатинка Лапок</h2>

    <div class="about-swiper-parent">
      <div class="about-swiper mySwiper">
        <div class="about-swiper-wrapper">
          <div class="about-swiper-slide">
            <picture class="about-image">
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/about-us-section/desctop/desctop-1-min.jpg    1x,
                  /img/about-us-section/desctop/desctop-1@2x-min.jpg 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  /img/about-us-section/tablet/tablet-1-min.jpg    1x,
                  /img/about-us-section/tablet/tablet-1@2x-min.jpg 2x
                "
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  /img/about-us-section/mobile/mobile-1-min.jpg    1x,
                  /img/about-us-section/mobile/mobile-1@2x-min.jpg 2x
                "
              />
              <img
                src="/img/about-us-section/desctop/desctop-1-min.jpg"
                alt="Дівчина годує собаку"
              />
            </picture>
            <div class="about-card-text">
              <p>
                Все почалося у 2015 році з кількох небайдужих людей та одного
                врятованого собаки. Сьогодні ми — один з найбільших притулків у
                регіоні, але наша мета незмінна: дати другий шанс тим, кого
                зрадили.
              </p>
            </div>
          </div>
          <div class="about-swiper-slide">
            <picture class="about-image">
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/about-us-section/desctop/desctop-2-min.jpg    1x,
                  /img/about-us-section/desctop/desctop-2@2x-min.jpg 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  /img/about-us-section/tablet/tablet-2-min.jpg    1x,
                  /img/about-us-section/tablet/tablet-2@2x-min.jpg 2x
                "
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  /img/about-us-section/mobile/mobile-2-min.jpg    1x,
                  /img/about-us-section/mobile/mobile-2@2x-min.jpg 2x
                "
              />
              <img
                src="/img/about-us-section/desctop/desctop-2-min.jpg"
                alt="Собака сумна, а потім радісно біжить"
              />
            </picture>
            <div class="about-card-text">
              <p>
                Ми рятуємо, реабілітуємо та знаходимо люблячі родини для
                безпритульних тварин. Наша мета — не просто дати прихисток, а й
                забезпечити кожному "хвостику" щасливе та повноцінне життя в
                новій родині.
              </p>
            </div>
          </div>
          <div class="about-swiper-slide">
            <picture class="about-image">
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/about-us-section/desctop/destop-3-min.jpg    1x,
                  /img/about-us-section/desctop/destop-3@2x-min.jpg 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  /img/about-us-section/tablet/tablet-3-min.jpg    1x,
                  /img/about-us-section/tablet/tablet-3@2x-min.jpg 2x
                "
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  /img/about-us-section/mobile/mobile-3-min.jpg    1x,
                  /img/about-us-section/mobile/mobile-3@2x-min.jpg 2x
                "
              />
              <img
                src="/img/about-us-section/desctop/destop-3-min.jpg"
                alt="Наша команда разом із тваринами"
              />
            </picture>
            <div class="about-card-text">
              <p>
                "Хатинка Лапок" — це команда професійних ветеринарів, кінологів
                та десятків волонтерів, які щодня вкладають свою душу та час у
                турботу про наших підопічних. Ми працюємо 24/7, бо їхнє життя
                залежить від нас.
              </p>
            </div>
          </div>
          <div class="about-swiper-slide">
            <picture class="about-image">
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/about-us-section/desctop/desctop-4-min.jpg    1x,
                  /img/about-us-section/desctop/desctop-4@2x-min.jpg 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  /img/about-us-section/tablet/tablet-4-min.jpg    1x,
                  /img/about-us-section/tablet/tablet-4@2x-min.jpg 2x
                "
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  /img/about-us-section/mobile/mobile-4-min.jpg    1x,
                  /img/about-us-section/mobile/mobile-4@2x-min.jpg 2x
                "
              />
              <img
                src="/img/about-us-section/desctop/desctop-4-min.jpg"
                alt="Спортивний майданчик для наших улюбленців"
              />
            </picture>
            <div class="about-card-text">
              <p>
                Ми створили безпечний та комфортний простір. Кожна тварина
                отримує якісне харчування, своєчасну ветеринарну допомогу,
                проходить соціалізацію та гуляє на спеціально обладнаних
                майданчиках.
              </p>
            </div>
          </div>
          <div class="about-swiper-slide">
            <picture class="about-image">
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/about-us-section/desctop/desctop-5-min.jpg    1x,
                  /img/about-us-section/desctop/desctop-5@2x-min.jpg 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  /img/about-us-section/tablet/tablet-5-min.jpg    1x,
                  /img/about-us-section/tablet/tablet-5@2x-min.jpg 2x
                "
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  /img/about-us-section/mobile/mobile-5-min.jpg    1x,
                  /img/about-us-section/mobile/mobile-5@2x-min.jpg 2x
                "
              />
              <img
                src="/img/about-us-section/desctop/desctop-5-min.jpg"
                alt="Собака в обіймах людини"
              />
            </picture>
            <div class="about-card-text">
              <p>
                Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати
                волонтером, допомогти фінансово або інформаційно. Кожен
                маленький внесок наближає нас до великої мети — світу без
                безпритульних тварин.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="about-swiper-controls">
        <div class="about-swiper-pagination"></div>
        <button
          class="about-swiper-button-prev"
          type="button"
          aria-label="Попередній слайд"
        >
          <svg class="icon-arrow-prev">
            <use href="/img/sprite.svg#icon-arrow-back"></use>
          </svg>
        </button>

        <button
          class="about-swiper-button-next"
          type="button"
          aria-label="Наступний слайд"
        >
          <svg class="icon-arrow-next">
            <use href="/img/sprite.svg#icon-arrow-forward"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
