<!-- Секція "Чому Хатинка Лапок" -->
<section id="about">
    <div class="container">
        <h2 class="home-feet">Чому Хатинка Лапок</h2>

        <div class="about-slider-wrapper">
            <div class="about-slider" id="aboutSlider">
                <article class="about-card">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="../img/about-us-section/desctop-version/item-min.jpg 1x, ../img/about-us-section/desctop-version/item@2x-min.jpg 2x" />

                        <!-- <source media="(min-width: 768px)" srcset="">
                        <source media="(max-width: 767px)" srcset=""> -->
                        <!-- <img src="/img/about-us-section/desctop-version/item-min.jpg" alt="#"> -->
                    </picture>
                    <div class="about-card-text">
                        <p>
                            Все почалося у 2015 році з кількох небайдужих людей,
                            які вирішили допомагати безпритульним собакам.
                            Спочатку це були тимчасові притулки та
                            пошук домівок через волонтерів.
                        </p>
                    </div>
                </article>

                <!-- <article class="about-card">
                    <img src="img/about-2.jpg" alt="">
                    <div class="about-card-text">
                        <p>
                            Ми рятуємо, реабілітуємо та знаходимо
                            люблячі домівки для собак і котів.
                            Наша мета — не просто дати притулок,
                            а забезпечити повноцінне життя.
                        </p>
                    </div>
                </article>

                <article class="about-card">
                    <img src="img/about-3.jpg" alt="">
                    <div class="about-card-text">
                        <p>
                            Хатинка Лапок — це команда волонтерів,
                            лікарів та людей з великим серцем.
                            Ми працюємо 24/7, бо життя тварин
                            не має вихідних.
                        </p>
                    </div>
                </article>

                <article class="about-card">
                    <img src="img/about-4.jpg" alt="">
                    <div class="about-card-text">
                        <p>
                            Ми створили безпечний та комфортний
                            простір, де кожна тварина отримує
                            догляд, лікування та шанс
                            на щасливе майбутнє.
                        </p>
                    </div>
                </article>

                <article class="about-card">
                    <img src="img/about-2.jpg" alt="">
                    <div class="about-card-text">
                        <p>
                            Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати волонтером, допомогти фінансово або інформаційно. Кожен
                            маленький внесок наближає нас до великої мети — світу без безпритульних тварин.
                        </p>
                    </div>
                </article> -->

            </div>

        </div>

        <div class="pagination">
            <span class="dot">
                <svg class="" width="4" height="4">
                    <use href="img/sprite.svg#icon-dot-2"></use>
                </svg>
            </span>
            <span class="dot-2">
                <svg class="" width="6" height="6">
                    <use href="img/sprite.svg#icon-dot-2"></use>
                </svg>
            </span>
            <span class="dot-1">
                <svg class="" width="8" height="8">
                    <use href="img/sprite.svg#icon-dot-2"></use>
                </svg>
            </span>
            <span class="dot-2">
                <svg class="" width="6" height="6">
                    <use href="img/sprite.svg#icon-dot-2"></use>
                </svg>
            </span>
            <span class="dot">
                <svg class="" width="4" height="4">
                    <use href="img/sprite.svg#icon-dot-2"></use>
                </svg>
            </span>

            <svg class="about-nav" width="24" height="24">
                <use href="/src/img/sprite.svg#icon-left"></use>
            </svg>
            <svg class="about-nav" width="24" height="24">
                <use href="/src/img/sprite.svg#icon-right"></use>
            </svg>
        </div>

    </div>
</section>