<footer id="footer">
  <div class="container">
    <div class="footer-wrap">
      <div class="footer-logo-wrap">
        <a
          href="./index.html"
          class="footer-logo-link"
          aria-label="Головна сторінка сайту"
        >
          <svg class="footer-logo-icon">
            <use href="/img/sprite.svg#icon-logo" aria-hidden="true"></use>
          </svg>
        </a>
      </div>

      <nav class="footer-navigation" aria-label="Навігація в футері">
        <ul class="footer-nav-link-list">
          <li><a href="#about" class="footer-nav-link">Про нас</a></li>
          <li><a href="#pets" class="footer-nav-link">Знайти друга</a></li>
          <li><a href="#faq" class="footer-nav-link">Часті запитання</a></li>
          <li>
            <a href="#success-stories" class="footer-nav-link"
              >Історії успіху</a
            >
          </li>
        </ul>
      </nav>

      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a
            href="https://www.facebook.com/"
            class="footer-social-link"
            aria-label="Фейсбук"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon" aria-hidden="true">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.instagram.com/"
            class="footer-social-link"
            aria-label="Інстаграм"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon" aria-hidden="true">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="footer-copyright">© 2025 Хатинка лапок. Всі права захищені.</p>
  </div>
</footer>
