<header id="header">
    <div class="container">
        <div class="header">
            <div class="header-nav-logo">
                <a class="header-logo" href="./index.html" aria-label="Логотип Хатинка Лапок"><svg aria-hidden="true"
                        class="header-logo-icon" height="51px" width="157px">
                        <use href="../img/sprite.svg#icon-logo"></use>
                    </svg>
                </a>
                <nav class="header-navigation">
                    <ul class="header-navigation-list">
                        <li class="header-navigation-item"><a href="#pets" class="header-navigation-link">Знайди
                                друга</a>
                        </li>
                        <li class="header-navigation-item"><a href="#about" class="header-navigation-link">Про нас</a>
                        </li>
                        <li class="header-navigation-item"><a href="#faq" class="header-navigation-link">Часті
                                запитання</a>
                        </li>
                        <li class="header-navigation-item"><a href="#susccers" class="header-navigation-link">Історії
                                успіху</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <a class="header-button" aria-label="Взяти друга" href="#pets">Взяти друга</a>
            <button class="header-burger-menu" aria-label="Відкрити меню" href="./index.html"><svg aria-hidden="true"
                    class="burger-menu-icon" height="24px" width="24px">
                    <use href="../img/sprite.svg#icon-menu"></use>
                </svg>
            </button>
        </div>
    </div>
</header>
<div class="header-modal">
    <div class="modal">
        <div class="container">
            <div class="modal-header">
                <a class="header-logo" aria-label="Логотип Хатинка Лапок" href="./index.html"><svg aria-hidden="true"
                        class="header-logo-icon" height="51px" width="157px">
                        <use href="../img/sprite.svg#icon-logo"></use>
                    </svg>
                </a>
                <button class="modal-close-button" aria-label="Закрити модальне вікно" href="./index.html"><svg
                        aria-hidden="true" class="close-icon" height="24px" width="24px">
                        <use href="../img/sprite.svg#icon-close"></use>
                    </svg>
                </button>
            </div>
            <nav class="modal-navigation">
                <ul class="modal-navigation-list">
                    <li class="modal-navigation-item"><a href="#pets" class="modal-navigation-link">Знайди друга</a>
                    </li>
                    <li class="modal-navigation-item"><a href="#about" class="modal-navigation-link">Про нас</a></li>
                    <li class="modal-navigation-item"><a href="#faq" class="modal-navigation-link">Часті запитання</a>
                    </li>
                    <li class="modal-navigation-item"><a href="#susccers" class="modal-navigation-link">Історії
                            успіху</a>
                    </li>
                </ul>
            </nav>
            <a class="modal-button" aria-label="Взяти друга" href="#pets">Взяти друга</a>
        </div>
    </div>
</div>