<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>
    Хатинка Лапок
  </title>
  <meta
    name='description'
    content='«Хатина лапок» — притулок для тварин. Ми лікуємо, доглядаємо та шукаємо дім для кожного хвостика.'
  />
  <meta name='keywords' content='притулок тварини' />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <link rel='preload' href='/fonts/IBMPlexSans.woff2' as='font' type='font/woff2' crossorigin />
  <link
    rel='preload'
    href='./img/hero-section/hero-mob-1x.jpg'
    as='image'
    type='image/jpeg'
    crossorigin
  />
  <link
    rel='preload'
    href='./img/hero-section/hero-mob-2x.jpg'
    as='image'
    type='image/jpeg'
    crossorigin
  />
  <link rel='stylesheet' href='./css/styles.css' />
</head>
