<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Хатинка Лапок</title>
  <meta
    name="description"
    content="«Хатина лапок» — притулок для тварин. Ми лікуємо, доглядаємо та шукаємо дім для кожного хвостика."
  />
  <meta name="keywords" content="" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link
    rel="preload"
    href="/fonts/IBMPlexSans.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/img/hero-section/hero-desk-2x-min.jpg"
    as="image"
    type="image/jpeg"
    crossorigin
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
    integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="./css/styles.css" />
</head>
