<!-- Секція Hero -->
<section id="hero">
    <div class="container hero-container">
        <div class="hero-section">
            <h1 class="hero-title">
                Кожне життя має значення. Знайди свого вірного друга
            </h1>

            <p class="hero-deskr">
                Сотні котиків та собачок у притулку Хатинка Лапок
                чекають на свою родину. Подаруйте їм дім.
            </p>

            <a href="#susccers" class="hero-link">Подивитись історії</a>
        </div>
    </div>
</section>