<section id="hero">
    <div class="container hero-container">
        <div class="hero-section">
            <h1 class="hero-title animate-fade-in">
                Кожне життя має значення. Знайди свого вірного друга
            </h1>

            <p class="hero-deskr animate-fade-in animate-delay-1">
                Сотні котиків та собачок у притулку Хатинка Лапок
                чекають на свою родину. Подаруйте їм дім.
            </p>

            <a href="#success-stories" class="hero-link animate-fade-in animate-delay-2">Подивитись історії</a>
        </div>
    </div>
</section>