<div id="modal-order" class="modal-order visually-hidden" tabindex="-1">
  <div class="container">
    <div class="modal-wrapper">
      <button class="modal-close-btn" aria-label="Закрити модальне вікно">
        <svg class="icon-close">
          <use xlink:href="img/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="modal-title">Залишіть заявку на знайомство</h2>
      <form id="order-form" class="modal-form">
        <label class="modal-form-label"
          >Ім'я*
          <input
            class="modal-form-input"
            placeholder="Андрій"
            type="text"
            name="name"
            required
          />
          <span class="error-text"></span>
        </label>
        <label class="modal-form-label"
          >Телефон*
          <input
            class="modal-form-input"
            placeholder="+380955559922"
            type="tel"
            name="phone"
            required
          />
          <span class="error-text"></span>
        </label>
        <label class="modal-form-label">
          Коментар
          <textarea
            class="modal-form-textarea"
            name="comments"
            rows="8"
            placeholder="Напишіть ваш коментар"
          ></textarea>
          <span class="error-text"></span>
        </label>
        <button
          class="modal-form-submit-btn"
          type="submit"
          aria-label="Відправити заявку на знайомство"
        >
          Надіслати
        </button>
      </form>
    </div>
  </div>
</div>
