<!-- Секція «Наші хвостики» -->
<section id="pets" class="pets-section">
  <div class="container pets-section-container">
    <h2 class="pets-title">Наші хвостики</h2>
    <p class="pets-subtitle">Вони дуже чекають на знайомство з вами</p>
    <ul class="category-list">
      <li class="category-item">
        <button class="category-btn current" type="button">Всі</button>
      </li>
      <li class="category-item">
        <button class="category-btn" type="button">Собаки</button>
      </li>
      <li class="category-item">
        <button class="category-btn" type="button">Коти</button>
      </li>
      <li class="category-item">
        <button class="category-btn" type="button">Кролики</button>
      </li>
      <li class="category-item">
        <button class="category-btn" type="button">Гризуни</button>
      </li>
      <li class="category-item">
        <button class="category-btn" type="button">Птахи</button>
      </li>
      <li class="category-item">
        <button class="category-btn" type="button">
          Тварини з особливими потребами
        </button>
      </li>
      <li class="category-item">
        <button class="category-btn" type="button">
          Терміново шукають дім
        </button>
      </li>
    </ul>
    <ul class="pets-list">
      <li class="pets-item">
        <img class="pets-img" src="../img/pets.png" alt="" />
        <div class="pets-list-wrapper">
          <p class="pets-category">Собака</p>
          <h3 class="pets-name">Джек</h3>
          <ul class="pets-category-list">
            <li class="pets-category-item">Собаки</li>
          </ul>
          <div class="descriprion-wrapper">
            <ul class="descriprion-list">
              <li class="descriprion-item">4 роки</li>
              <li class="descriprion-item">Хлопчик</li>
            </ul>
            <p class="pets-descriprion">
              Дуже активний, любить довгі прогулянки. Потребує досвідченого
              господаря.
            </p>
            <button class="pets-button" type="button">Дізнатись більше</button>
          </div>
        </div>
      </li>
      <li class="pets-item">
        <img class="pets-img" src="../img/pets.png" alt="" />
        <div class="pets-list-wrapper">
          <p class="pets-category">Кіт</p>
          <h3 class="pets-name">Мія</h3>
          <ul class="pets-category-list">
            <li class="pets-category-item">Коти</li>
          </ul>
          <div class="descriprion-wrapper">
            <ul class="descriprion-list">
              <li class="descriprion-item">2 роки</li>
              <li class="descriprion-item">Дівчинка</li>
            </ul>
            <p class="pets-descriprion">
              Дуже ласкава та ніжна, але на початку трохи сором'язлива з
              незнайомцями.
            </p>
            <button class="pets-button" type="button">Дізнатись більше</button>
          </div>
        </div>
      </li>
      <li class="pets-item">
        <img class="pets-img" src="../img/pets.png" alt="" />
        <div class="pets-list-wrapper">
          <p class="pets-category">Собака</p>
          <h3 class="pets-name">Найда</h3>
          <ul class="pets-category-list">
            <li class="pets-category-item">Собаки</li>
            <li class="pets-category-item">Тварини з особливими потребами</li>
            <li class="pets-category-item">Терміново шукають дім</li>
          </ul>
          <div class="descriprion-wrapper">
            <ul class="descriprion-list">
              <li class="descriprion-item">6 місяців</li>
              <li class="descriprion-item">Дівчинка</li>
            </ul>
            <p class="pets-descriprion">
              Після операції на лапці, потребує спокійного дому та мінімального
              догляду. Дуже любить дітей.
            </p>
            <button class="pets-button" type="button">Дізнатись більше</button>
          </div>
        </div>
      </li>
      <li class="pets-item">
        <img class="pets-img" src="../img/pets.png" alt="" />
        <div class="pets-list-wrapper">
          <p class="pets-category">Кролик</p>
          <h3 class="pets-name">Сніжок</h3>
          <ul class="pets-category-list">
            <li class="pets-category-item">Кролики</li>
          </ul>
          <div class="descriprion-wrapper">
            <ul class="descriprion-list">
              <li class="descriprion-item">1 рік</li>
              <li class="descriprion-item">Хлопчик</li>
            </ul>
            <p class="pets-descriprion">
              Привчений до лотка, любить, коли його гладять по спинці.
            </p>
            <button class="pets-button" type="button">Дізнатись більше</button>
          </div>
        </div>
      </li>
    </ul>
    <button class="pets-load-more-btn">Показати більше</button>
  </div>
</section>
