<section id="pets" class="pets-section">
  <div class="container pets-section-container">
    <h2 class="pets-title">Наші хвостики</h2>
    <p class="pets-subtitle">Вони дуже чекають на знайомство з вами</p>
    <ul class="category-list js-category-list"></ul>
    <span class="loader js-loader"></span>
    <ul class="pets-list js-pets-list"></ul>
    <button class="pets-load-more-btn js-pets-load-more-btn" aria-label="Завантажити ще">
      Показати більше
    </button>
    <ul class="pagination js-pagination"></ul>
  </div>
</section>
