.home-feet {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #02060a;
    padding-top: 65px;
    padding-bottom: 40px;
}

.container-home-feet {
    max-width: 335px;
}

.about-slider {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 60px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.about-slider-wrapper {
    position: relative;
}

.about-card {
    position: relative;
    overflow: auto;
    flex-shrink: 0;
}

.about-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.about-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.2));
}

.about-card-text {
    position: absolute;
    bottom: 0;
    z-index: 2;
    padding: 20px;
    color: #f4f6f1;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    max-width: 90%;
}

.about-nav {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    justify-content: center;
    align-items: center;
    border: 1px solid #c3b49d;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    background: #eee9e3;
    cursor: pointer;
}

.about-slider-wrapper>.about-nav { /* прибирає кнопки на мобільних */
    display: flex;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 64px;
}

.pagination-dots {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

/* Стилі для кнопок навігації на мобільних пристроях */

@media  screen and (max-width: 767px) {
    .about-nav-left,
    .about-nav-right {
        bottom: 16px;
        top: 416px;
        transform: none;
    }
    .about-nav-left {
        left: 218px;
    }
    .about-nav-right {
        right: 8px;
    }
}

@media screen and (min-width:768px) {
    .container-home-feet {
        max-width: 704px;
        }
    .about-card-text {
        max-width: 548px;
        padding-left: 32px;
        padding-bottom: 32px;
    }
    .about-card {
        max-width: 704px;
        aspect-ratio: 704 / 404;
    }
    .about-slider-wrapper>.about-nav {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }
    
    .about-nav-left {
        left: -24px;
    }
    
    .about-nav-right {
        right: -24px;
    }
    
    .pagination {
        justify-content: center;
    }
    .btn {
        display: none;
    }
}


@media screen and (min-width:1440px) {
    .home-feet {
        font-size: 48px;
        text-align: center;
        padding-top: 80px;
    }
    .container-home-feet {
        max-width: 1312px;
        max-height: 753px;
    }
    .about-card {
        max-width: 1312px;
        aspect-ratio: 1312 / 753;
    }
    .about-card-text {
        font-size: 18px;
        padding-left: 64px;
        padding-bottom: 64px;
    }
    .btn {
        display: none;
    }
}