.home-feet {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #02060a;
    padding-top: 65px;
    padding-bottom: 40px;
}

.container-home-feet {
    max-width: 100%;
}

.about-slider-wrapper {
    position: relative;
    width: 100%;
}

.about-card {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.about-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.about-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
} 

.about-card-text {
    position: absolute;
    max-width: 295px;
    bottom: 0;
    padding: 20px;
    color: #f4f6f1;
    font-size: 16px;
}

.swiper-slide {
    position: relative;
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    color: black
}

.swiper-pagination .dot {
    background-color: #fff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin: 0 4px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 64px;
}

.pagination-dots {
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.btn {
    display: flex;
    position: relative;
    top: 50%;
    z-index: 10;
    border: none;
    max-width: 15px;
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .pagination {
        position: relative;
        justify-content: flex-start;
        gap: 8px;
    }
}

@media screen and (min-width: 768px) {
    .container-home-feet {
        max-width: 704px;
    }

    .about-card-text {
        max-width: 548px;
        padding-left: 32px;
        padding-bottom: 32px;
    }

    .about-card {
        width: 100%;
        aspect-ratio: 704 / 404;
    }

    .pagination {
        justify-content: center;
    }
}

@media screen and (min-width: 1440px) {
    .home-feet {
        font-size: 48px;
        text-align: center;
        padding-top: 80px;
    }

    .container-home-feet {
        max-width: 1312px;
    }

    .about-card {
        width: 100%;
        aspect-ratio: 1312 / 753;
    }

    .about-card-text {
        font-size: 18px;
        padding-left: 64px;
        padding-bottom: 64px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        padding-top: 24px;
        padding-bottom: 64px;
    }
}