.home-feet {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #02060a;
    padding-top: 65px;
    padding-bottom: 40px;
}

.container-home-feet {
    max-width: 335px;
}

.about-slider-wrapper {
    position: relative;
    width: 100%;
}

.about-card {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.about-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.about-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.2));
}

.about-card-text {
    position: absolute;
    bottom: 0;
    z-index: 2;
    padding: 20px;
    color: #f4f6f1;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    max-width: 90%;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 64px;
}

.pagination-dots {
    display: flex;
    gap: 8px;
    cursor: pointer;
}

/* Для мобільної версії (кнопки знизу) */
@media screen and (max-width: 767px) {
    .about-nav-left,
    .about-nav-right {
        bottom: 16px;
        top: auto;
        transform: none;
    }

    .about-nav-left {
        right: 72px;
    }

    .about-nav-right {
        right: 16px;
    }
    .pagination {
        justify-content: flex-start;
        gap: 8px;
    }
}

@media screen and (min-width: 768px) {
    .container-home-feet {
        max-width: 704px;
        }
    .about-card-text {
        max-width: 548px;
        padding-left: 32px;
        padding-bottom: 32px;
    }
    .about-card {
        width: 100%;
        aspect-ratio: 704 / 404;
    }

    .about-nav-left {
        left: -24px;
    }
    
    .about-nav-right {
        right: -24px;
    }
    .pagination {
        justify-content: center;
    }
}


@media screen and (min-width: 1440px) {
    .home-feet {
        font-size: 48px;
        text-align: center;
        padding-top: 80px;
    }
    .container-home-feet {
        max-width: 1312px;
        max-height: 753px;
    }
    .about-card {
        width: 100%;
        aspect-ratio: 1312 / 753;
    }
    .about-card-text {
        font-size: 18px;
        padding-left: 64px;
        padding-bottom: 64px;
    }
    .pagination {
        display: flex;
        justify-content: center;
        padding-top: 24px;
        padding-bottom: 64px;
    }
}