.home-feet {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: #02060a;
    padding-top: 65px;
    padding-bottom: 40px;
}

.about-slider-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-slider {
    display: flex;
    gap: 24px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.about-card {
    position: relative;
    min-width: 335px;
    height: 402px;
    overflow: hidden;
    flex-shrink: 0;
}

.about-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.2));
}

.about-card-text {
    position: absolute;
    bottom: 0;
    z-index: 2;
    padding: 20px;
    color: #f4f6f1;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.about-nav {
    justify-content: center;
    border: 1px solid #c3b49d;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    background: #eee9e3;
    cursor: pointer;
}

.pagination {
    display: flex;
    gap: 8px;
}