#about {
  padding-top: 64px;
  padding-bottom: 64px;
}

.about-title {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #02060a;
}

.about-swiper-parent {
  position: relative;
}

.about-swiper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.about-swiper-slide {
  position: relative;
  overflow: hidden;
  flex: 0 0 100%;
  width: 100%;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.about-swiper-slide::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.18) 0%,
    rgba(0, 0, 0, 0.63) 100%
  );
  z-index: 1;
}

.about-card-text {
  position: absolute;
  max-width: 295px;
  bottom: 0;
  padding: 20px;
  color: #f4f6f1;
  font-size: 16px;
  z-index: 2;
}

.about-swiper-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: 8px;
}

.about-swiper-button-prev,
.about-swiper-button-next {
  border: 1px solid #c3b49d;
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: #eee9e3;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 100;
  flex-shrink: 0;
}

.about-swiper-button-prev.swiper-button-disabled,
.about-swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.about-swiper-button-prev::after,
.about-swiper-button-next::after {
  display: none;
}

.about-swiper-button-prev svg {
  stroke: #02060a;
  width: 50%;
  height: 50%;
  display: block;
  order: -1;
}

.about-swiper-button-next svg {
  stroke: #02060a;
  width: 50%;
  height: 50%;
  display: block;
  order: 1;
}

.about-swiper-pagination {
  text-align: start;
  --swiper-theme-color: #02060a;
}

.about-swiper-wrapper {
  padding-bottom: 24px;
  display: flex;
  align-items: stretch;
  width: 100%;
}

.about-swiper-pagination-bullet {
  background: #02060a;
  opacity: 0.5;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  display: inline-block;
  transition: opacity 0.3s;
}

.about-swiper .about-swiper-pagination .about-swiper-pagination-bullet-active {
  background: #02060a;
  opacity: 1;
}

.about-swiper-button-prev svg,
.about-swiper-button-next svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.about-swiper-button-prev:hover,
.about-swiper-button-next:hover,
.about-swiper-button-prev:focus-visible,
.about-swiper-button-next:focus-visible {
  background: #c3b49d;
  border-color: #02060a;
}

.about-swiper-button-prev:active,
.about-swiper-button-next:active {
  background-color: #c3b49d;
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

@media screen and (min-width: 768px) {
  .about-swiper-button-prev,
  .about-swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .about-swiper-button-prev {
    left: -24px;
  }

  .about-swiper-button-next {
    right: -24px;
  }

  .about-swiper-slide {
    aspect-ratio: 704 / 404;
  }

  .about-card-text {
    max-width: 548px;
    padding-left: 32px;
    padding-bottom: 32px;
  }

  .about-swiper-pagination {
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  #about {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .home-feet-title {
    font-size: 48px;
  }

  .about-swiper-slide {
    aspect-ratio: 1312 / 753;
  }

  .about-card-text {
    font-size: 18px;
    padding-left: 64px;
    padding-bottom: 64px;
  }

  .about-swiper-button-prev,
  .about-swiper-button-next {
    width: 64px;
    height: 64px;
  }
  .about-swiper-button-prev {
    left: -32px;
  }

  .about-swiper-button-next {
    right: -32px;
  }

  .about-swiper-button-prev svg,
  .about-swiper-button-next svg {
    width: 28px;
    height: 28px;
  }
}
