.animal-details-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition:
        opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 0s linear 300ms;
}

.animal-details-backdrop.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    overflow: auto;
    transition:
        opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 0s linear 0s;
}

.animal-modal {
    position: relative;
    width: 335px;
    min-height: 1012px;
    padding: 64px 0;
    background-color: #F6F4F1;
    border-radius: 8px;
    overflow-y: auto;
    transform: translateY(100%);
    opacity: 0;
    transition:
        opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
        translate 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.animal-details-backdrop.is-open .animal-modal {
    transform: translateY(0);
    opacity: 1;
}

.details-modal-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    line-height: 0;
    padding: 0;
}

.details-modal-close-btn-icon {
    stroke: #02060A;
}

.animal-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding-left: 20px;
    padding-right: 20px;
}

.animal-modal-img-wrapper {
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
    width: 295px;
    height: 295px;
}

.animal-modal-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.animal-species,
.animal-age,
.animal-gender {
    font-size: 12px;
}

.animal-species {
    margin-bottom: 8px;
}

.animal-name {
    font-family: “Open Sans”, sans-serif;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.01em;
}

.age-gender-wrapper {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.description-section {
    margin-bottom: 24px;
}

.descriprion-title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
}

.descriprion-text {
    font-size: 14px;
}

.modal-adopt-btn {
    width: 295px;
    height: 45px;
    border: 1px solid #88765C;
    border-radius: 8px;
    padding: 12px 24px;
    background-color: #88765C;
    font-size: 14px;
    color: #fff;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-adopt-btn:active {
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
    background: #EEE9E3;
    color: #02060A;
}

.modal-adopt-btn:hover,
.modal-adopt-btn:focus-visible {
    background-color: #EEE9E3;
    color: #02060A;
}

@media only screen and (min-width: 768px) {
    .animal-details-backdrop {
        align-items: center;
    }

    .animal-modal {
        width: 704px;
        min-height: 685px;
    }

    .animal-modal-content {
        flex-direction: row;
        padding-left: 32px;
        padding-right: 32px;
    }

    .animal-modal-img-wrapper {
        width: 304px;
        height: 450px;
    }

    .animal-modal-info {
        display: flex;
        flex-direction: column;
    }

    .animal-species,
    .animal-name,
    .age-gender-wrapper {
        order: -2;
    }

    .modal-adopt-btn {
        order: -1;
        margin-bottom: 24px;
    }

    .description-section.last {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1440px) {
    .animal-modal {
        width: 1312px;
        min-height: 650px;
    }
    
    .details-modal-close-btn {
    top: 20px;
    right: 20px;
}

    .animal-modal-content {
        flex-direction: row;
        padding-left: 63px;
        padding-right: 64px;
    }

    .animal-modal-img-wrapper {
        width: 576px;
        height: 450px;
    }

    .animal-name {
        font-size: 40px;
    }

    .descriprion-title,
    .descriprion-text {
        font-size: 16px;
    }

    .modal-adopt-btn {
        margin-bottom: 0;
        width: 576px;
        height: 48px;
        order: 1;
    }

    .description-section.last {
        margin-bottom: 24px;
    }
}