:root {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;

  color: #02060a;
  background-color: #f6f4f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 64px;
}

@media only screen and (min-width: 1440px) {
  section[id] {
    scroll-margin-top: 0;
  }
}

