@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM-Plex-Fallback';
  src: local('Arial');
  ascent-override: 102%; /* Компенсуємо висоту IBM Plex */
  descent-override: 24%; /* Коригуємо нижні елементи */
  line-gap-override: 0%;
  size-adjust: 90%; /* IBM Plex візуально трохи вужчий за Arial */
}
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans.woff2') format('woff2');
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

/* 2. Розрахований Fallback */
@font-face {
  font-family: 'Open-Sans-Fallback';
  src: local('Arial');
  ascent-override: 106%; /* Піднімаємо літери Arial */
  descent-override: 23%;
  line-gap-override: 0%;
  size-adjust: 98%; /* Open Sans та Arial майже однакові за шириною */
}
