#footer {
  background: #c3b49d;
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(2, 6, 10, 0.15);
}
.footer-logo-icon {
  fill: #332c22;
  width: 302px;
  height: 130px;
  &:hover {
    fill: #88765c;
  }
}
.footer-link-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  color: #02060a;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer-link-list {
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .footer-link-list {
    font-size: 14px;
  }
}
.footer-social-list {
  display: flex;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}
.footer-social-item {
  width: 32px;
  height: 32px;
}
.footer-social-icon {
  width: 100%;
  height: 100%;
  fill: #02060a;
  &:hover {
    fill: #88765c;
  }
}
.footer-copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #02060a;
  margin-top: 32px;
}
@media screen and (min-width: 1440px) {
  .footer-copyright {
    font-size: 14px;
  }
}
