.hero-container {
    padding: 0;
}

.hero-section {
    background-image:
        linear-gradient(-270deg, rgba(62, 54, 38, 0.74) 0%, rgba(62, 54, 38, 0) 100%),
        -webkit-image-set(url('../img/hero-section/hero-mob-1x-min.jpg') 1x,
            url('../img/hero-section/hero-mob-2x-min.jpg') 2x);
    padding: 64px 20px;
    width: 100%;
    min-height: 544px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}

.hero-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #fff;
    padding-bottom: 24px;
}

.hero-deskr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    padding-bottom: 32px;
}

.hero-link {
    border: 1px solid #88765c;
    border-radius: 8px;
    padding: 12px 24px;
    width: 171px;
    height: 45px;
    background: #88765c;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

@media screen and (min-width:768px) {
    .hero-section {
        background-image:
            linear-gradient(-270deg, rgba(62, 54, 38, 0.74) 0%, rgba(62, 54, 38, 0) 100%),
            -webkit-image-set(url('../img/hero-section/hero-tab-1x-min.jpg') 1x,
                url('../img/hero-section/hero-tad-2x-min.jpg') 2x);
        padding-left: 32px;
        padding-top: 64px;
        padding-right: 114px;
        padding-bottom: 234px;
    }

}

@media screen and (min-width:1158px) {
    .hero-section {
        background-image:
            linear-gradient(-270deg, rgba(62, 54, 38, 0.74) 0%, rgba(62, 54, 38, 0) 100%),
            -webkit-image-set(url('../img/hero-section/hero-desk-1x-min.jpg') 1x,
                url('../img/hero-section/hero-desk-2x-min.jpg') 2x);
        height: 900px;
        padding-left: 64px;
        padding-top: 128px;
        padding-right: 754px;
        padding-bottom: 234px;
    }

    .hero-title {
        font-size: 56px;
    }

    .hero-deskr {
        font-size: 18px;
    }

    .hero-link {
        width: 189px;
        height: 49px;
        font-size: 16px;
    }
}