textarea {
  resize: none;
}

body.modal-open {
  overflow: hidden;
}

.error-text {
  color: #ae0000;
  font-size: 12px;
  font-weight: 400;
}

.input-error {
  border: 1px solid #ae0000 !important;
  color: #ae0000 !important;
}

.input-error::placeholder {
  color: #ae0000 !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-order {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  padding: 64px 0px;
  pointer-events: auto;
  overscroll-behavior: none;
}

.modal-wrapper {
  padding: 64px 0;
  position: relative;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
}
.modal-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}

.icon-close {
  display: block;
  width: 32px;
  height: 32px;
}

.modal-title {
  text-align: center;
  margin-bottom: 48px;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-form-label {
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-form-input {
  border-radius: 12px;
  padding: 8px 12px;
  border: none;
  background-color: rgba(2, 6, 10, 0.05);
  outline: none;
}

.modal-form-input:focus {
  border: 1px solid #88765c;
  background-color: #eee9e3;
}

.modal-form-input:focus::placeholder {
  opacity: 0;
}

.modal-form-textarea {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background-color: rgba(2, 6, 10, 0.05);
  outline: none;
}

.modal-form-textarea:focus {
  border: 1px solid #88765c;
  background-color: #eee9e3;
}

.modal-form-textarea:focus::placeholder {
  opacity: 0;
}

.modal-form-submit-btn {
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  background-color: #88765c;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  height: 45px;
}

@media only screen and (min-width: 768px) {
  .modal-wrapper {
    width: 704px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .modal-title {
    font-size: 36px;
  }

    .modal-form-textarea{
      height: 180px;
    }

  .modal-form-submit-btn {
    width: 240px;
    height: 48px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1440px) {
  .modal-wrapper {
    width: 768px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .modal-title {
    font-size: 48px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-form-label {
    font-size: 16px;
  }

  .modal-form-input:hover::placeholder {
    color: #000;
  }

  .modal-form-textarea:hover::placeholder {
    color: #000;
  }

  .modal-form-submit-btn {
    font-size: 16px;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
  }

  .modal-form-submit-btn:hover,
  .modal-form-submit-btn:focus {
    background-color: #c3b49d;
    border: 1px solid #88765c;
    color: #000;
  }

  .modal-form-submit-btn:active {
    border: 1px solid #88765c;
    background-color: #eee9e3;
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
      inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
    color: #000;
  }
}
