textarea {
  resize: none;
}

body.modal-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-order {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding: 64px 0px;
  pointer-events: auto;
  overscroll-behavior: none;
}

.modal-wrapper {
  padding: 64px 0;
  position: relative;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

.icon-close {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.modal-title {
  text-align: center;
  margin-bottom: 48px;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-form-label {
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-form-input {
  border-radius: 12px;
  padding: 8px 12px;
  border: none;
  background-color: rgba(2, 6, 10, 0.05);
}

.modal-form-textarea {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background-color: rgba(2, 6, 10, 0.05);
}

.modal-form-submit-btn {
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  background-color: #88765c;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  height: 45px;
}

@media only screen and (min-width: 768px) {
  .modal-title {
    font-size: 36px;
  }

  .modal-form-submit-btn {
    width: 240px;
    height: 48px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1440px) {
  .modal-title {
    font-size: 48px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-form-label {
    font-size: 16px;
  }

  .modal-form-submit-btn {
    font-size: 16px;
  }
}
