.pets-section {
    padding: 64px 0 32px 0;
}

.pets-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pets-title {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
}

.pets-subtitle {
    margin-bottom: 32px;
    font-size: 16px;
    text-align: center;
}

.category-list {
    max-width: 450px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-btn {
    font-size: 14px;
    border: none;
    border-radius: 100px;
    padding: 10px 16px;
    background-color: transparent;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.category-btn.current {
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    background-color: #eee9e3;
}

.pets-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 40px;
}

.pets-item {
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 100%;
    min-height: 610px;
    background-color: #eee9e3;
    border-radius: 16px;
}

.pets-img {
    border-radius: 8px;
    margin-bottom: 16px;
}

.pets-list-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pets-category {
    margin-bottom: 4px;
    font-size: 10px;
}

.pets-name {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.01em;
}

.pets-category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.pets-category-item {
    padding: 4px 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    background-color: rgba(2, 6, 10, 0.05);
    font-weight: 600;
    font-size: 10px;
}

.descriprion-wrapper {
   margin-top: auto;
  
}

.descriprion-list {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.descriprion-item {
    font-size: 10px;
}

.pets-descriprion {
    font-size: 12px;
    margin-bottom: 16px;
}

.pets-button {
    font-size: 14px;
    border: 1px solid #02060a;
    border-radius: 8px;
    padding: 8px 20px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pets-load-more-btn {
    height: 45px;
    width: 100%;
    font-size: 14px;
    color: #fff;
    border: 1px solid #88765c;
    border-radius: 8px;
    background-color: #88765c;
}

.pets-load-more-btn-hidden {
    display: none;
}

@media screen and (min-width: 768px) {
.category-btn:hover {
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    background-color: #eee9e3;
}

.pets-item {
    width: calc((100% - 32px) / 2);
}

.pets-button:hover {
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
    background: #c3b49d;
}

.pets-load-more-btn {
    width: 335px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pets-load-more-btn:hover {
    color: #02060a;
    border: 1px solid #88765c;
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
    background-color: #eee9e3;    
}
    
}

@media screen and (min-width: 1440px) {
   
.pets-title {
    font-size: 48px;
}

.pets-subtitle {
    margin-bottom: 40px;
}

.category-list {
    max-width: 100%; 
    margin-bottom: 40px;
}

.category-btn {
    font-size: 16px;
}

.category-btn.current,
.category-btn:focus-visible {
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    background-color: #eee9e3;
}

.pets-item {
    min-height: 700px;
    width: calc((100% - 64px) / 3);
}

.pets-list-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pets-category {
    font-size: 12px;
}

.pets-name {
    font-size: 24px;
}

.pets-category-item {
    font-size: 12px;
}

.descriprion-wrapper {
   margin-top: auto;
  
}

.descriprion-item {
    font-size: 12px;
}

.pets-descriprion {
    font-size: 14px;
}

.pets-button {
    font-size: 16px;
}

.pets-button:focus-visible {
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
    background: #c3b49d;
}

.pets-load-more-btn {
    height: 48px;
    width: 192px;
    font-size: 16px;
}

.pets-load-more-btn:focus-visible {
    color: #02060a;
    border: 1px solid #88765c;
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
    background-color: #eee9e3;    
}
}

/* --------------- loader --------------- */

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(136, 118, 92, 0.2) 33%,
    #88765c 100%
  );
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #f5f0eb;
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.loader-hidden {
  display: none;
}