<!DOCTYPE html>
<html lang="uk">
  <% const absPartialsDir = process.cwd() + '/src/partials/'; %>
  <%- include(absPartialsDir + 'head.ejs') %>
  <body>
    <%- include(absPartialsDir + 'header.ejs') %>
    <main>
      <%- include(absPartialsDir + 'hero.ejs') %>
      <%- include(absPartialsDir + 'pets.ejs') %>
      <%- include(absPartialsDir + 'about.ejs') %>
      <%- include(absPartialsDir + 'faq.ejs') %>
      <%- include(absPartialsDir + 'susccess-stories.ejs') %>
      <%- include(absPartialsDir + 'animal-details-modal.ejs') %>
      <%- include(absPartialsDir + 'order-modal.ejs') %>
    </main>
    <%- include(absPartialsDir + 'footer.ejs') %>
    <%- include(absPartialsDir + 'scroll-top.ejs') %>

    <script
      type="module"
      src="./main.js"
    ></script>
  </body>
</html>
